manifest {
    name            = 'nf-gatk-pipeline'
    author          = 'Poulami Ghosh'
    homePage        = 'https://github.com/g-Poulami/nf-gatk-pipeline'
    description     = 'BWA-MEM2 -> SAMtools -> Picard -> GATK BQSR -> HaplotypeCaller'
    mainScript      = 'main.nf'
    nextflowVersion = '>=23.04.0'
    version         = '1.0.0'
}

params {
    reads               = null
    genome              = null
    adapters            = null
    known_sites         = null
    dbsnp               = null

    outdir              = 'results'
    sequencing_platform = 'ILLUMINA'

    trim_leading        = 3
    trim_trailing       = 3
    trim_slidingwindow  = '4:15'
    trim_minlen         = 36

    bwamem2_extra_args  = '-M'
    sort_threads        = 4
    remove_duplicates   = false

    run_bqsr            = true
    hc_extra_args       = ''
    joint_genotype      = false

    snp_filter          = 'QD < 2.0 || FS > 60.0 || MQ < 40.0 || MQRankSum < -12.5 || ReadPosRankSum < -8.0'
    indel_filter        = 'QD < 2.0 || FS > 200.0 || ReadPosRankSum < -20.0'

    run_multiqc         = true

    max_cpus            = 16
    max_memory          = '64.GB'
    max_time            = '72.h'
}

process {
    cpus   = 2
    memory = '4.GB'
    time   = '4.h'

    errorStrategy = { task.exitStatus in [130, 137, 140] ? 'retry' : 'finish' }
    maxRetries    = 2

    withLabel: 'process_single' { cpus = 1;  memory = '2.GB';  time = '2.h'  }
    withLabel: 'process_medium' { cpus = 2;  memory = '3.GB';  time = '8.h'  }
    withLabel: 'process_high'   { cpus = 4;  memory = '6.GB';  time = '12.h' }
    withLabel: 'process_gatk'   { cpus = 2;  memory = '6.GB';  time = '24.h' }
}

profiles {

    local {
        process.executor = 'local'
        resourceLimits = [ cpus: 12, memory: '7.GB', time: '24.h' ]
    }

    docker {
        docker.enabled       = true
        docker.userEmulation = true
        singularity.enabled  = false
        process {
            withName: 'FASTQC'                { container = 'quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0'            }
            withName: 'TRIMMOMATIC'           { container = 'quay.io/biocontainers/trimmomatic:0.39--hdfd78af_2'          }
            withName: 'BWAMEM2_INDEX'         { container = 'quay.io/biocontainers/bwa-mem2:2.2.1--he513fc3_0'           }
            withName: 'BWAMEM2_MEM'           { container = 'quay.io/biocontainers/bwa-mem2:2.2.1--he513fc3_0'           }
            withName: 'SAMTOOLS_SORT'         { container = 'quay.io/biocontainers/samtools:1.19.2--h50ea8bc_1'          }
            withName: 'SAMTOOLS_INDEX'        { container = 'quay.io/biocontainers/samtools:1.19.2--h50ea8bc_1'          }
            withName: 'SAMTOOLS_FLAGSTAT'     { container = 'quay.io/biocontainers/samtools:1.19.2--h50ea8bc_1'          }
            withName: 'PICARD_MARKDUPLICATES' { container = 'quay.io/biocontainers/picard:3.1.1--hdfd78af_0'             }
            withName: 'GATK_DICT'             { container = 'broadinstitute/gatk:4.5.0.0'                                }
            withName: 'GATK_FAIDX'            { container = 'quay.io/biocontainers/samtools:1.19.2--h50ea8bc_1'          }
            withName: 'GATK_BASERECALIBRATOR' { container = 'broadinstitute/gatk:4.5.0.0'                                }
            withName: 'GATK_APPLYBQSR'        { container = 'broadinstitute/gatk:4.5.0.0'                                }
            withName: 'GATK_HAPLOTYPECALLER'  { container = 'broadinstitute/gatk:4.5.0.0'                                }
            withName: 'GATK_GENOTYPEGVCFS'    { container = 'broadinstitute/gatk:4.5.0.0'                                }
            withName: 'GATK_VARIANTFILTRATION'{ container = 'broadinstitute/gatk:4.5.0.0'                                }
            withName: 'MULTIQC'               { container = 'quay.io/biocontainers/multiqc:1.21--pyhdfd78af_0'           }
        }
    }

    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        docker.enabled         = false
        process {
            withName: 'FASTQC'                { container = 'https://depot.galaxyproject.org/singularity/fastqc:0.12.1--hdfd78af_0'        }
            withName: 'TRIMMOMATIC'           { container = 'https://depot.galaxyproject.org/singularity/trimmomatic:0.39--hdfd78af_2'      }
            withName: 'BWAMEM2_INDEX'         { container = 'https://depot.galaxyproject.org/singularity/bwa-mem2:2.2.1--he513fc3_0'        }
            withName: 'BWAMEM2_MEM'           { container = 'https://depot.galaxyproject.org/singularity/bwa-mem2:2.2.1--he513fc3_0'        }
            withName: 'SAMTOOLS_SORT'         { container = 'https://depot.galaxyproject.org/singularity/samtools:1.19.2--h50ea8bc_1'       }
            withName: 'SAMTOOLS_INDEX'        { container = 'https://depot.galaxyproject.org/singularity/samtools:1.19.2--h50ea8bc_1'       }
            withName: 'SAMTOOLS_FLAGSTAT'     { container = 'https://depot.galaxyproject.org/singularity/samtools:1.19.2--h50ea8bc_1'       }
            withName: 'PICARD_MARKDUPLICATES' { container = 'https://depot.galaxyproject.org/singularity/picard:3.1.1--hdfd78af_0'          }
            withName: ~/GATK.*/               { container = 'https://depot.galaxyproject.org/singularity/gatk4:4.5.0.0--py36hdfd78af_0'    }
            withName: 'MULTIQC'               { container = 'https://depot.galaxyproject.org/singularity/multiqc:1.21--pyhdfd78af_0'        }
        }
    }

    conda {
        conda.enabled = true
        process {
            withName: 'FASTQC'                { conda = 'bioconda::fastqc=0.12.1'     }
            withName: 'TRIMMOMATIC'           { conda = 'bioconda::trimmomatic=0.39'  }
            withName: 'BWAMEM2_INDEX'         { conda = 'bioconda::bwa-mem2=2.2.1'   }
            withName: 'BWAMEM2_MEM'           { conda = 'bioconda::bwa-mem2=2.2.1'   }
            withName: 'SAMTOOLS_SORT'         { conda = 'bioconda::samtools=1.19'     }
            withName: 'SAMTOOLS_INDEX'        { conda = 'bioconda::samtools=1.19'     }
            withName: 'SAMTOOLS_FLAGSTAT'     { conda = 'bioconda::samtools=1.19'     }
            withName: 'PICARD_MARKDUPLICATES' { conda = 'bioconda::picard=3.1.1'      }
            withName: ~/GATK.*/               { conda = 'bioconda::gatk4=4.5.0.0'    }
            withName: 'MULTIQC'               { conda = 'bioconda::multiqc=1.21'      }
        }
    }

    slurm {
        process.executor = 'slurm'
        process.queue    = 'normal'
    }

    test {
        params {
            reads          = "${projectDir}/test/data/*_R{1,2}.fastq.gz"
            genome         = "${projectDir}/test/data/ref.fa"
            outdir         = 'test_results'
            run_bqsr       = false
            joint_genotype = false
            run_multiqc    = false
        }
        resourceLimits = [
            cpus  : 2,
            memory: '4.GB',
            time  : '30.m'
        ]
    }
}

timeline { enabled = true; file = "${params.outdir}/pipeline_info/timeline.html"; overwrite = true }
report   { enabled = true; file = "${params.outdir}/pipeline_info/report.html";   overwrite = true }
trace    { enabled = true; file = "${params.outdir}/pipeline_info/trace.tsv";     overwrite = true }
dag      { enabled = true; file = "${params.outdir}/pipeline_info/dag.html";      overwrite = true }
